h1{
	     color: cyan;
       }
img{
      
       	width: 400px;
       }
#thirdDiv
      {
           	height: 600px;
           	width: 500px;
           	background-color: olive;
           	padding :50px;
           	border: 10px solid #000000;
      }
#spanId{
      	font-size: smaller;
      }